{
    "forEach": "games",
    "filename": "packages/deployer/src/{{kebabCase name}}.game.ts"
}
---
import {{constantCase name}}_CONTRACT from "../../../contracts.v1/artifacts/{{snakeCase name}}.contract.json";
{{#each items}}
import ELEMENT_{{constantCase name}}_CONTRACT from "../../../contracts.v1/artifacts/{{snakeCase name}}.contract.json";
{{/each}}
import { IDeployableGame } from "./IDeployableGame";

const {{constantCase name}}_ELEMENT_CONTRACTS: Record<number, any> = {
    {{#each items}}
    [{{@index}}]: ELEMENT_{{constantCase name}}_CONTRACT,
    {{/each}}
};

export const DEPLOYABLE_{{constantCase name}}: IDeployableGame = {
    name: "{{capitalCase name}}",
    description: "{{{description}}}",
    gameContract: {{constantCase name}}_CONTRACT,
    elementContracts: {{constantCase name}}_ELEMENT_CONTRACTS,
};
