{
    "map": {
        "recipes": "recipes"
    },
    "filename": "packages/docs/wiki/recipes.md"
}
---
# Recipes

In _Not a Bird_ players can combine [elements](/wiki/elements) via **recipes**. Each recipe has a format of `A + B = C`, where `A`, `B` and `C` are elements.

## List of recipes

{{#each recipes}}
* [{{capitalCase name}}](/wiki/recipes/{{kebabCase name}})
{{/each}}

See also:

* [Games](/wiki/games)
* [Elements](/wiki/elements)
* [Wiki](/wiki/index)
* [Learn](/learn/index)
