{
    "map": {
        "games": "games"
    },
    "filename": "packages/docs/wiki/games.md"
}
---
# Games

_Not a bird_ contains multiple **games**. Each game is a set of [elements](/wiki/elements) and [recipes](/wiki/recipes).

## List of games

{{#each games}}
* [{{capitalCase name}}](/wiki/games/{{kebabCase name}})
{{/each}}

See also:

* [Elements](/wiki/elements)
* [Recipes](/wiki/recipes)
* [Wiki](/wiki/index)
* [Learn](/learn/index)
