{
    "forEach": "recipes",
    "filename": "packages/docs/wiki/recipes/{{kebabCase name}}.md"
}
---
---
title: {{capitalCase name}}
description: |
  Combine {{capitalCase a.name}} and {{capitalCase b.name}} to create {{capitalCase c.name}}.
---
# {{capitalCase name}}

{{{description}}}

## Ingredients

* [{{capitalCase a.name}}](/wiki/elements/{{kebabCase a.name}})
* [{{capitalCase b.name}}](/wiki/elements/{{kebabCase b.name}})

## Result

* [{{capitalCase c.name}}](/wiki/elements/{{kebabCase c.name}})

## See also

* [Games](/wiki/games)
* [Elements](/wiki/elements)
* [Recipes](/wiki/recipes)
* [Wiki](/wiki/index)
* [Learn](/learn/index)
