{
    "forEach": "items",
    "filename": "packages/docs/wiki/elements/{{kebabCase name}}.md"
}
---
# {{capitalCase name}}

**Tier**: {{{tier}}}

{{{description}}}

## See also

* [Games](/wiki/games)
* [Elements](/wiki/elements)
* [Recipes](/wiki/recipes)
* [Wiki](/wiki/index)
* [Learn](/learn/index)
