{
    "forEach": "games",
    "filename": "packages/docs/wiki/games/{{kebabCase name}}.md"
}
---
---
title: {{capitalCase name}}
description: |
  {{{description}}}
---
# {{capitalCase name}}

{{{description}}}

## Elements

**{{capitalCase name}}** has the following elements:

{{#each items}}
* [{{capitalCase name}}](/wiki/elements/{{kebabCase name}})
{{/each}}

## Recipes

**{{capitalCase name}}** has the following recipes:

{{#each recipes}}
* [{{capitalCase name}}](/wiki/recipes/{{kebabCase name}})
{{/each}}

## See also

* [Games](/wiki/games)
* [Elements](/wiki/elements)
* [Recipes](/wiki/recipes)
* [Wiki](/wiki/index)
* [Learn](/learn/index)
