{
    "forEach": "games",
    "filename": "packages/on-chain-game/src/{{kebabCase name}}.singleplayer.game.ts"
}
---
import { GAME_{{constantCase name}} } from '@not-a-bird/model';
import {
    registerUsableGame
} from './use-game';
import {
    createSinglePlayerGame
} from './create-game';

registerUsableGame(
    '{{kebabCase name}}.singleplayer',
    {
        name: '{{capitalCase name}} Singleplayer',
        description: '{{{description}}}',
        chainInfo: 'Singleplayer, no chain'
    },
    createSinglePlayerGame(GAME_{{constantCase name}})
);
