{
    "forEach": "games",
    "filename": "packages/contract-{{kebabCase ./name}}/README.md"
}
---
# {{capitalCase name}} - Game Contract

This is the **main outer contract** that the **game logic** interacts with.
