{
    "map": {
        "recipes": "recipes"
    },
    "filename": "packages/model/src/recipes.ts"
}
---
import * as items from './items';
import { IRecipe } from './IRecipe';

{{#each recipes}}
export const RECIPE_{{constantCase name}}: IRecipe = {
    id: {{@index}},
    a: items.ITEM_{{constantCase a.name}},
    b: items.ITEM_{{constantCase b.name}},
    result: items.ITEM_{{constantCase c.name}},
};
{{/each}}

export const ALL_RECIPES: IRecipe[] = [
    {{#each recipes}}
    RECIPE_{{constantCase name}},
    {{/each}}
];