{
    "forEach": "item-psp22-contracts",
    "filename": "packages/contract-{{kebabCase name}}/src/Cargo.toml"
}
---
[package]
name = "{{snakeCase name}}"
version = "0.0.1"
authors = ["SIOCODE Llc. <info@siocode.hu>"]
edition = "2021"

[dependencies]
ink = { version = "5.0.0", default-features = false }


[lib]
path = "lib.rs"

[features]
default = ["std"]
std = ["ink/std"]
ink-as-dependency = []
