{
    "forEach": "item-psp22-contracts",
    "filename": "packages/contract-{{kebabCase name}}/README.md"
}
---

# {{name}} - Contract

This is a {{name}} contract.

### Quickstart

- `cargo contract build`


