{
    "forEach": "item-psp22-contracts",
    "filename": "packages/on-chain-game/src/contracts/I{{pascalCase name}}Contract.ts"
}
---
import { IElementContract } from "./IElementContract";
/** {{{description}}} */
export interface I{{pascalCase name}}Contract extends IElementContract {
}
