{
    "forEach": "item-psp22-contracts",
    "filename": "packages/contract-{{kebabCase name}}/README.md"
}
---

# {{capitalCase name}} - Contract

This is a {{capitalCase name}} contract.

### Quickstart

- `npm run build`
