{
    "forEach": "item-psp22-contracts",
    "filename": "packages/contract-{{kebabCase name}}/src/lib.rs"
}
---
#![cfg_attr(not(feature = "std"), no_std, no_main)]

#[ink::contract]
pub mod {{snakeCase name}} {

    /** Error type for PSP-22 compatible contract for element '{{name}}' */
    #[derive(scale::Encode, scale::Decode, Debug, PartialEq, Eq, Copy, Clone)]
    #[cfg_attr(feature = "std", derive(scale_info::TypeInfo))]
    pub enum Error {
    }

    #[ink(storage)]
    pub struct {{pascalCase name}}Contract {
    }

    impl {{pascalCase name}}Contract {
        /// Creates a new PSP-22 compatible {{capitalCase name}} Element contract
        #[ink(constructor)]
        pub fn new() -> Self {
            Self {
            }
        }
    }

}