{
    "map": {
        "items": "items",
        "games": "games"
    },
    "filename": "package.json"
}
---
{
  "name": "@siocode/not-a-bird",
  "version": "0.0.1",
  "private": true,
  "workspaces": [
    "packages/*"
  ],
  "dependencies": {
    "react": "18.2.0",
    "react-dom": "18.2.0",
    "rxjs": "7.8.1",
    "@polkadot/api": "11.0.2",
    "@polkadot/api-contract": "11.0.2",
    "leva": "0.9.35",
    "@unique-nft/accounts": "^0.3.7",
    "@unique-nft/sdk": "^0.7.4",
    "bulma": "1.0.0",
    "listr2": "8.2.1",
    "markdown-it-task-lists": "^2.1.1",
    "markdown-it-textual-uml": "^0.17.1",
    "yaml": "^2.4.2",
    "commander": "12.1.0",
    "express": "4.19.2"
  },
  "devDependencies": {
    "@types/react": "18.2.79",
    "@types/react-dom": "18.2.25",
    "chalk": "4",
    "chokidar": "3.6.0",
    "concurrently": "8.2.2",
    "esbuild": "0.20.2",
    "fs-extra": "11.2.0",
    "sass": "1.75.0",
    "typescript": "5.4.5",
    "prettier": "^3.2.5",
    "vitepress": "1.2.2",
    "@types/node": "20.12.12"
  },
  "scripts": {
    {{#each items}}
    "c:{{kebabCase name}}": "cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-{{kebabCase name}}/src/Cargo.toml",
    {{/each}}
    {{#each games}}
    "c:{{kebabCase name}}": "cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-{{kebabCase name}}/src/Cargo.toml",
    {{/each}}
    "c:game": "cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-game/src/Cargo.toml",
    "build:contracts": "cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-game/src/Cargo.toml && {{#each items}}cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-{{kebabCase name}}/src/Cargo.toml && {{/each}}{{#each games}}cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-{{kebabCase name}}/src/Cargo.toml{{#unless @last}} && {{/unless}}{{/each}}",
    "build": "npm run -w @not-a-bird/app-game build",
    "serve:game": "npm run -w @not-a-bird/app-game serve",
    "serve:faucet": "npm run -w @not-a-bird/dev-faucet start",
    "serve": "concurrently \"npm run serve:game\" \"npm run serve:faucet\" -n \"GAME,FAUCET\"",
    "docs:build": "npm run -w @not-a-bird/docs build",
    "docs:preview": "npm run -w @not-a-bird/docs preview",
    "docs:dev": "npm run -w @not-a-bird/docs dev",
    "deploy:contracts": "npm run -w @not-a-bird/deployer start",
    "deploy:copy": "npm run -w @not-a-bird/deployer copy",
    "deploy:extract": "npm run -w @not-a-bird/deployer extract",
    "deploy:build": "npm run -w @not-a-bird/deployer build",
    "deploy:start": "npm run -w @not-a-bird/deployer start",
    "faucet:build": "npm run -w @not-a-bird/dev-faucet build",
    "faucet:start": "npm run -w @not-a-bird/dev-faucet start"
  }
}
