{
    "map": {
        "items": "items"
    },
    "filename": "package.json"
}
---
{
  "name": "@siocode/not-a-bird",
  "version": "0.0.1",
  "private": true,
  "workspaces": [
    "packages/*"
  ],
  "dependencies": {
    "react": "18.2.0",
    "react-dom": "18.2.0",
    "rxjs": "7.8.1",
    "@polkadot/api": "11.0.2",
    "@polkadot/api-contract": "11.0.2",
    "leva": "0.9.35",
    "@unique-nft/accounts": "^0.3.7",
    "@unique-nft/sdk": "^0.7.4",
    "bulma": "1.0.0"
  },
  "devDependencies": {
    "@types/react": "18.2.79",
    "@types/react-dom": "18.2.25",
    "chalk": "4",
    "chokidar": "3.6.0",
    "concurrently": "8.2.2",
    "esbuild": "0.20.2",
    "fs-extra": "11.2.0",
    "sass": "1.75.0",
    "typescript": "5.4.5",
    "prettier": "^3.2.5"
  },
  "scripts": {
    {{#each items}}
    "c:{{kebabCase name}}": "cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-{{kebabCase name}}/src/Cargo.toml",
    {{/each}}
    "c:game": "cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-game/src/Cargo.toml",
    "build:contracts": "cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-game/src/Cargo.toml && {{#each items}}cargo contract build --optimization-passes 0 --generate all --manifest-path packages/contract-{{kebabCase name}}/src/Cargo.toml{{#unless @last}} && {{/unless}}{{/each}}",
    "build": "npm run -w @not-a-bird/app-game build",
    "serve": "npm run -w @not-a-bird/app-game serve"
  }
}
