{
    "map": {
      "itemcontracts": "item-psp22-contracts"
    },
    "filename": "Cargo.toml"
}
---
[workspace]

resolver = "2"
members = [
  {{#each itemcontracts}}
  "packages/contract-{{kebabCase name}}/src",
  {{/each}}
]
exclude = [
  ".cargo",
  "target"
]

[workspace.dependencies]
ink = { version = "5.0.0", default-features = false }
