@font-face {
    font-family: "Unbounded";
    src: url(assets/fonts/Unbounded-Regular.ttf);
}

@font-face {
    font-family: "Unbounded";
    src: url(assets/fonts/Unbounded-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Unbounded";
    src: url(assets/fonts/Unbounded-Light.ttf);
    font-weight: lighter;
}

* {
    font-family: "Unbounded", sans-serif;
    font-size: 1em;
}