@use "style/flex";
@use "style/utils";
@use "style/button";
@use "style/tutorial";
@use "style/spacing";
@use "style/typography";
@use "style/stacked";
@use "style/horizontal";
@use "style/mergeCard";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
